@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --color-1: #df8014; 
    --color-2: #FFE090; 
    --color-3:#0d1d44; 
    --color-4:#A6C2B4; 
    --color-5:#C78C60;
    --color-6:#ECB259;
}
* {
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.wrapper {
    max-width: 1024px;
    margin: auto;
    background-color: var(--color-2);
}
h1 {
    font-size: 2rem;
    text-transform: uppercase;
}
h1,
h2,
h3{
   font-family: "Pacifico", cursive;
}
header{
    height: 350px;
    display: flex;
    flex-direction: column;
}
header .site-info{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-5)
}
header .site-info * {
    margin-bottom: 1rem;
    font-weight: 800;
    color: var(--color-1);
}
header .navbar {
    background-color: var(--color-3);
    display: flex;
}
header .navbar a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    display: block;
}
header .navbar a:hover {
    background-color: var(--color-1);
}
.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.main {
    display: flex;
    flex-direction: row-reverse;
}
.main .sidebar {
    width: 35%;
    color: #fff;
    padding: 1.5rem 1rem;
    background-color: var(--color-1);
}
.main .sidebar section{
    margin-bottom: 1rem;
}

.main .sidebar section * {
    margin-bottom: 1rem;
}
.main .main-content {
    background: var(--color-2);
    width: 65%;
    padding: 1.5rem 1rem;
}

.main .main-content article{
    margin-bottom: 1rem;
}

.main .main-content article h2 {
    color: var(--color-1);
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 22px;
}
.main .main-content article h5 {
    color: var(--color-4);
    margin-bottom: 0.5rem;
}
.main .main-content article p {
    color: #000;
    text-align: justify;
    margin-bottom: 1rem;
    font-size: 20px;
}
.main .main-content article img {
    padding: 1rem;
    float: right;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

footer p {
    color: var(--color-5);
    text-align: center;
    border-top: 1px solid var(--color-5);
    margin-top: 1rem;
    padding: 1rem 0;
    background: var(--color-2);
}
    .hr-1 {
    border: none;
    height: 1px;
    border-top: 1px dashed var(--color-1);
    margin-top: 40px;
    margin-bottom: 40px;
}
